{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock custom_css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>Welcome to OpinionGate!</h1>
                 <h3>Make Your Voice Heard!</h3>

                <hr>
                <a class="btn btn-light btn-lg" href="{% url 'polls:list' %}" role="button">
                    Start Voting <i class="fas fa-arrow-right"></i>
                </a>
                            </div>
        </div>
    </div>
</div>
{% endblock content %}